textarea {
  width: 100%;
  height: 10em;
}

.comment-form {
  padding: 2em;
  margin: 2em 0;
  background: #fff;
}

.comment {
  background: #e5e5e5;
  padding: 1em 1.5em;
  margin-bottom: 0.5em;
}

.comment blockquote {
  margin: 0;
  font-style: italic;
}

.comment small {
  text-align: right;
}

.comment small:before {
  content: "~ ";
}