.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em -1em;
  padding: 0;
}

.card {
  width: 12em;
  max-width: 100%;
  margin: 0 0.5em;
  list-style-type: none;
  padding: 1em;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 1em;
  text-align: center;
}