html {
  font-size: 100%;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

button, .button {
  border: 0;
  color: #fff;
  background: coral;
  margin: 0 0.25em;
  padding: 0.25em 0.75em;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: coral;
}

small {
  display: block;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
textarea {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
  max-width: 100%;
}

.loading {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-link {
  text-align: center;
  margin: 2em 0;
}